body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('images/gurudo_background.webp') no-repeat center center fixed; /* Dodaj obraz jako tło */
  background-size: cover; /* Skalowanie obrazu, aby wypełnić ekran */
  font-family: "Montserrat", Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Zaokrąglenie krawędzi */
}

@keyframes fadeInOutBlur {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  30% {
    opacity: 1;
    filter: blur(0);
  }
  70% {
    opacity: 1;
    filter: blur(0);
  }
  85% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes fadeDownSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeUpSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Logo will fade in and out with delay */
.logo {
  width: 300px;
  height: auto;
  margin: 0;
  padding: 0;
  animation: fadeInOutBlur 10s cubic-bezier(0.7, 0, 0.3, 1) infinite;
}

/* Animacja logo, h1, h4 zsynchronizowana */

h1 {
  color: white;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  animation: fadeUpSlide 10s cubic-bezier(0.7, 0, 0.3, 1) infinite;
  animation-delay: 4s; /* Logo i h1 pojawiają się przed h4 */
}

h4 {
  color: white;
  padding: 0;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  animation: fadeDownSlide 10s cubic-bezier(0.7, 0, 0.3, 1) infinite;
}

.toggle-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: #373F41; /* Ciemnoszare tło */
  color: #fff; /* Biała ikona */
  border: none;
  border-radius: 50%; /* Okrągły kształt */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Umieszczenie przycisku na wierzchu */
}

.toggle-button i {
  font-size: 24px;
}

@media (max-width: 768px) {
  .toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .toggle-button i {
    font-size: 24px;
  }
}
